<table class="list issues">
  <thead>
    <th width="30%" style="text-align: left;"><%= l(:label_member) %></th>
    <th width="40%" style="text-align: left;"><%= l(:label_project) %></th>
    <th width="15%" style="text-align: right;"><%= l(:field_hours) %></th>
    <th width="15%" style="text-align: right;"><%= l(:field_non_billable_hours) %></th>
  </thead>
</table>
