<p><label>List size</label><%= text_field_tag 'settings[list_size]', @settings['list_size'] %></p>

<p><label>Number precision</label><%= text_field_tag 'settings[precision]', @settings['precision'] %></p>

